.table_heading td {
   font-size:15px;

}

.food_list {
	color:red;
}

.menu_list {
	font-size:20px;
}

zform {
    display: inline;
}

table.widefat tr {
	border-bottom: 1pt solid black;
}

.bootstrap {
	@import \"reset.less\";
	@import \"variables.less\";
}