h1.menutitle {
	width: 100%;
	background-color: rgb(160,30,30);
	border-radius: 5px;
	color:white;
	padding: 10px;
}

.wpresto_panel-heading a {
	text-decoration: none;

}

.wpresto-catergory-title {
   font-size: 25px; 
   color:#b00000;
   /*font-weight: bold;*/
}

.wpresto-menu-title {
   font-size: 18px;
   font-weight: bold;
   /*color:#b00000;*/
   color:#606366;
}

.wpresto-menu-price {
  font-weight: bold;
   color:#000000;
}

.wpresto-menu-details {
  font-size: 13px;
  color: #442E00;

}

.wpresto-menu-line {
	border-top: 1px gray dotted;
}

.wpresto_preview_item_image {
	width:40px;

}

.wpresto-menu-head {
	padding-bottom: 5px;
}

.menu-detail {
	vertical-align: top;
}
.menutable  {
	border: 10px;

}

.food-item {
	vertical-align:top;

}

.food-item-head {
	font-size: 25px;
	font-weight: bold;
}
.food-item-desc {
	overflow: wrap;
}

.wpresto_bootstrap {
	margin-bottom: -1px;
}

